@font-face {
    font-family: Geek;
    src: url(geek.ttf)
}

.greek {
    font-family: Geek;
    padding: 0;
    margin: 0;
}

.title {
    font-family: Geek;
    color: darkgoldenrod;
    padding: 0;
    margin: 0;
    text-align: center;
}