<nav class="navbar navbar-expand-xl bg-body-tertiary text-black col-12">
  <div class="container justify-content-between">
      <a class="link-body-emphasis link-opacity-50-hover greek" routerLink="./index">Home</a>
      <a class="link-body-emphasis link-opacity-50-hover greek" routerLink="./tragedy">Tragedy</a>
      <a class="link-body-emphasis link-opacity-50-hover greek" routerLink="./comedy">Comedy</a>
      <a class="link-body-emphasis link-opacity-50-hover greek" routerLink="./performance">Performance</a>
  </div>
</nav>
<router-outlet></router-outlet>
