<div class="container-lg fw-light fs-3" style="margin-top: 1%;">
    <p class="display-4 title">
        {{ title | allCaps }}
    </p>
</div>
<div class="container my-5">
    <div *ngFor="let section of body; let e=even; let o=odd; let i=index;">
        <div class="row">
            <span> 
                <img [src]="section.img" alt="Sophocles, the playwright" style="display: inline; float: right; padding-bottom: 5px; padding-top: 15px;" class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <h1 [ngClass]=" o ? 'greek col-12 col-xs-12 col-sm-6 col-md-8 col-lg-10 left-subtitle':'greek col-12 col-xs-12 col-sm-6 col-md-8 col-lg-10 right-subtitle' "> 
                    {{ section.title }} 
                </h1>
                <div *ngFor="let paragraph of section.paragraphs;">
                    <p [ngClass]=" o ? 'col-12 col-xs-12 col-sm-6 col-md-8 col-lg-10 left-info':'col-12 col-xs-12 col-sm-6 col-md-8 col-lg-10 right-info' "> 
                        {{ paragraph }} 
                    </p>
                </div>
            </span>
        </div>
    </div>
</div>